@import "tailwindcss";


/* --color-primary: #AA7EDF;
--color-dark: #282C34;
--color-white: #FFFFFF;
--color-gray: #B6BCC8; */

:root {
  --background: #282C34;
  --foreground: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins-sans);

	--color-primary: #AA7EDF;
	--color-dark: #282C34;
	--color-white: #FFFFFF;
	--color-gray: #B6BCC8;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  @apply text-base font-poppins;
  line-height: 1.5;
  font-size: var(--text-size, 1rem);
  
}

::selection {
	@apply bg-primary text-white;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	@apply bg-white;
}

::-webkit-scrollbar-thumb {
	@apply bg-primary;
}